{
    "specall_3" : "./u7/All-wave_3.specmode",
    "specall_2" : "./u7/All-wave_2.specmode",
    "specall_1" : "./u7/All-wave_1.specmode",
    "specall" : "./u7/All-wave.specmode",
    "allfilter" : "./u7/allfilter.specmode",
    "specblue" : "./u7/Bmb.specmode",
    "specred" : "./u7/Rmb.specmode",
    "custom1" : "./u7/custom1.specmode",
    "custom2" : "./u7/custom2.specmode",
    "custom3" : "./u7/custom3.specmode",
    "custom4" : "./u7/custom4.specmode",
    "custom5" : "./u7/custom5.specmode",
    "custom6" : "./u7/custom6.specmode",
    "custom7" : "./u7/custom7.specmode",
    "custom8" : "./u7/custom8.specmode",
    "custom9" : "./u7/custom9.specmode",
    "custom10" : "./u7/custom10.specmode",
    "custom11" : "./u7/custom11.specmode"
}