{
    "specall" : "./u6/All-wave_6.specmode",
    "allfilter" : "./u6/allfilter_6.specmode",
    "specblue" : "./u6/Bmb_6.specmode",
    "specred" : "./u6/Rmb_6.specmode",
    "custom1" : "./u6/custom1.specmode",
    "custom2" : "./u6/custom2.specmode",
    "custom3" : "./u6/custom3.specmode",
    "custom4" : "./u6/custom4.specmode",
    "custom5" : "./u6/custom5.specmode"
}