{
    "specall" : "./u10/All-wave_10.specmode",
    "allfilter" : "./u10/allfilter_10.specmode",
    "exceptgri" : "./u10/except_gri.specmode",
    "custom1" : "./u10/custom1.specmode",
    "custom2" : "./u10/custom2.specmode",
    "custom3" : "./u10/custom3.specmode",
    "custom4" : "./u10/custom4.specmode",
    "custom5" : "./u10/custom5.specmode",
    "custom6" : "./u10/custom6.specmode",
    "custom7" : "./u10/custom7.specmode",
    "order1" : "./u10/order1.specmode",
    "order2" : "./u10/order2.specmode",
    "order3" : "./u10/order3.specmode",
    "order4" : "./u10/order4.specmode",
    "order5" : "./u10/order5.specmode",
    "order6" : "./u10/order6.specmode",
    "Jangho1" : "./u10/Jangho1.specmode",
    "Jangho2" : "./u10/Jangho2.specmode",
    "Sohn1" : "./u10/Sohn_broad.specmode"
}