{
    "specall" : "./u5/All-wave_5.specmode",
    "allfilter" : "./u5/allfilter_5.specmode",
    "specblue" : "./u5/Bmb_5.specmode",
    "specred" : "./u5/Rmb_5.specmode",
    "custom1" : "./u5/custom1.specmode",
    "custom2" : "./u5/custom2.specmode",
    "custom3" : "./u5/custom3.specmode",
    "custom4" : "./u5/custom4.specmode",
    "custom5" : "./u5/custom5.specmode"
}