{
    "SCHEDULER_AUTOFOCUS": true,
    "SCHEDULER_AUTOFOCUS_AT_INIT": true,
    "SCHEDULER_AFTIME": 3,
    "SCHEDULER_CCDCOOL": true,
    "SCHEDULER_CCDTEMP": -10,
    "SCHEDULER_BIAS": true,
    "SCHEDULER_BIASCOUNT": 9,
    "SCHEDULER_DARK": true,
    "SCHEDULER_DARKEXPTIME": "120",
    "SCHEDULER_DARKCOUNT": 9,
    "SCHEDULER_FLAT_DUSK": false,
    "SCHEDULER_FLAT_DAWN": true,
    "SCHEDULER_FLATEXPTIME": "120,120",
    "SCHEDULER_FLATCOUNT": 9,
    "SCHEDULER_FLATFILTSET": "g,r",
    "SCHEDULER_DEFAULTFILT": "g,r",
    "SCHEDULER_DEFAULTEXP": "120,120",
    "SCHEDULER_DEFAULTCOUNT": "5,5",
    "SCHEDULER_DEFAULTBIN": "1,1",
    "SCHEDULER_DEFAULTPRIOR": 1
}