{
    "telescope": "CBNUO",
    "ccd": "STX16803",
    "alltelinfo": "/home/hhchoi1022/Desktop/Gitrepo/config/CCD.dat",
    "alltarinfo": "/home/hhchoi1022/Desktop/Gitrepo/config/alltarget.dat",
    "allcatpath": "/data1/Skycatalog",
    "configdir": "/home/hhchoi1022/Desktop/Gitrepo/config/",
    "savefig": true,
    "update": true,
    "show": false,
    "sexdir": "/data2/sextractor",
    "aperfactor": 3,
    "seeing_guess": 4,
    "threshold": 3,
    "target": null,
    "filter_": null,
    "refcat": "all",
    "mag_upper": 17,
    "mag_lower": 13,
    "e_mag_upper": 0.1,
    "class_star": 0.9,
    "flag": 1,
    "n_good": 10
}
