{
    "imkey": "/home/hhchoi1022/Desktop/GRB220921A/*.fts",
    "observatory": "KCT",
    "ccd": "STX16803",
    "rasamode": "High",
    "combine": {
        "mode": true,
        "range": 0.1
    },
    "update": {
        "mode": false,
        "updateconfigfile": "/home/hhchoi1022/Desktop/Gitrepo/config/KCT_STX16803_updatefits.config"
    },
    "cutout":{
    	"mode": false,
        "size": 1000
    },
    "subtract": {
        "mode": false,
        "refdir": "/data1/Reference/KCT_STX16803/",
        "refim": null
    },
    "photometry": {
        "mode": false,
        "sources": "/home/hhchoi1022/Desktop/Gitrepo/photometry/SN2021aefx.cat",
        "aperfactor": 3,
        "seeing_key": "hh_seeing",
        "zp_key": "hh_zp",
        "depth_key": "hh_depth5",
        "zperr_key": "hh_e_zp",
        "match_distance_second": 5
    },
    "remove": {
        "mode": false
    },
    "outfile": "/home/hhchoi1022/Desktop/SN2021aefx_test/KCT_STX16803_phot.fixascii"
}
