{
    "imkey": "/home/hhchoi1022/Desktop/SN2022xkq/KCT/r/Calib*com.fits",
    "observatory": "KCT",
    "ccd": "STX16803",
    "rasamode": "High",
    "combine": {
        "mode": true,
        "range": 0.1
    },
    "update": {
        "mode": true,
        "updateconfigfile": "/home/hhchoi1022/Desktop/Gitrepo/config/KCT_STX16803_updatefits.config"
    },
    "cutout":{
    	"mode": false,
        "size": 1000
    },
    "subtract": {
        "mode": false,
        "refdir": "/data1/Reference/KCT_STX16803/",
        "refim": null
    },
    "photometry": {
        "mode": true,
        "sources":  "/home/hhchoi1022/Desktop/SN2022xkq/KCT/sources.cat",
        "aperfactor": 3,
        "threshold" : 1.5,
        "seeing_key": "hh_seeing",
        "zp_key": "hh_zp",
        "depth_key": "hh_depth5",
        "zperr_key": "hh_e_zp",
        "match_distance_second": 3
    },
    "remove": {
        "mode": true
    },
    "outfile": "/home/hhchoi1022/Desktop/SN2022xkq/KCT/r/phot.fixascii"
}
