{
    "imkey": "/home/hhchoi1022/Desktop/SN2022xkq/LSGT/Calib*com.fits",
    "observatory": "LSGT",
    "ccd": "ASI1600MM",
    "rasamode": "High",
    "combine": {
        "mode": false,
        "range": 0.1
    },
    "update": {
        "mode": false,
        "updateconfigfile": "/home/hhchoi1022/Desktop/Gitrepo/config/LSGT_STX16803_updatefits.config"
    },
    "cutout":{
    	"mode": false,
        "size": 700
    },
    "subtract": {
        "mode": false,
        "refdir": "/data1/Reference/LSGT_STX16803/",
        "refim": null
    },
    "photometry": {
        "mode": true,
        "sources": "/home/hhchoi1022/Desktop/SN2022xkq/LSGT/sources.cat",
        "aperfactor": 3,
        "threshold" : 1.5,
        "seeing_key": "hh_seeing",
        "zp_key": "hh_zp",
        "depth_key": "hh_depth5",
        "zperr_key": "hh_e_zp",
        "match_distance_second": 5
    },
    "remove": {
        "mode": true
    },
    "outfile": "/home/hhchoi1022/Desktop/SN2022xkq/LSGT/phot.fixascii"
}
