{
    "imkey": "/home/hhchoi1022/Desktop/SN2021aefx_test/RASA36/Calib*.fits",
    "observatory": "RASA36",
    "ccd": "KL4040",
    "rasamode": "High",
    "combine": {
        "mode": true,
        "range": 0.1
    },
    "update": {
        "mode": true,
        "updateconfigfile": "/home/hhchoi1022/Desktop/Gitrepo/config/RASA36_KL4040_High_updatefits.config"
    },
    "cutout":{
    	"mode": false,
        "size": 700
    },
    "subtract": {
        "mode": false,
        "refdir": "/data1/Reference/RASA36_KL4040/",
        "refim": null
    },
    "photometry": {
        "mode": true,
        "sources": "/home/hhchoi1022/Desktop/Gitrepo/photometry/SN2021aefx.cat",
        "aperfactor": 3,
        "seeing_key": "hh_seeing",
        "zp_key": "hh_zp",
        "depth_key": "hh_depth5",
        "zperr_key": "hh_e_zp",
        "match_distance_second": 6
    },
    "remove": {
        "mode": false
    },
    "outfile": "/home/hhchoi1022/Desktop/SN2021aefx_test/RASA36_KL4040_phot.fixascii"
}
