{
    "telescope": "RASA36",
    "ccd": "KL4040",
    "rasamode":"Merge",
    "alltelinfo": "/home/hhchoi1022/Desktop/Gitrepo/config/CCD.dat",
    "alltarinfo": "/home/hhchoi1022/Desktop/Gitrepo/config/alltarget.dat",
    "allcatpath": "/data1/Skycatalog",
    "configdir": "/home/hhchoi1022/Desktop/Gitrepo/config/",
    "savefig": true,
    "update": true,
    "show": false,
    "sexdir": "/data2/sextractor",
    "aperfactor": 3,
    "seeing_guess": 5,
    "threshold": 3,
    "target": null,
    "filter_": null,
    "refcat": "all",
    "mag_upper": 16,
    "mag_lower": 14,
    "e_mag_upper": 0.1,
    "class_star": 0,
    "flag": 1,
    "n_good": 10
}
