{
    "imkey": "/data2/SN2021aefx_220627/RASA36/r/MERGE/sub*.fits",
    "observatory": "RASA36",
    "ccd": "KL4040",
    "rasamode": "Merge",
    "combine": {
        "mode": false,
        "range": 0.1
    },
    "update": {
        "mode": false,
        "updateconfigfile": "/home/hhchoi1022/Desktop/Gitrepo/config/RASA36_KL4040_Merge_updatefits.config"
    },
    "cutout":{
    	"mode": false,
        "size": 1000
    },
    "subtract": {
        "mode": false,
        "refdir": "/data1/Reference/RASA36_KL4040/",
        "refim": null
    },
    "photometry": {
        "mode": true,
        "sources": "/home/hhchoi1022/Desktop/Gitrepo/photometry/SN2021aefx.cat",
        "aperfactor": 3,
        "seeing_key": "SEEING",
        "zp_key": "hh_zp",
        "depth_key": "hh_depth5",
        "zperr_key": "hh_e_zp",
        "match_distance_second": 10
    },
    "remove": {
        "mode": true
    },
    "outfile": "/home/hhchoi1022/Desktop/Gitrepo/photometry/RASA36_KL4040_Merge_phot.fixascii"
}
