{
    "imkey": "/data2/SN2021aefx_220627/SAO_C361K/?/Calib*.fits",
    "observatory": "SAO",
    "ccd": "C361K",
    "rasamode": "High",
    "combine": {
        "mode": true,
        "range": 0.1
    },
    "update": {
        "mode": true,
        "updateconfigfile": "/home/hhchoi1022/Desktop/Gitrepo/config/SAO_C361K_updatefits.config"
    },
    "subtract": {
        "mode": false,
        "refdir": "/data1/Reference/SAO_C361K/",
        "refim": null
    },
    "photometry": {
        "mode": true,
        "sources": null,
        "aperfactor": 3,
        "seeing_key": "hh_seeing",
        "zp_key": "hh_zp",
        "depth_key": "hh_depth5",
        "zperr_key": "hh_e_zp",
        "match_distance_second": 5
    },
    "remove": {
        "mode": true
    },
    "outfile": "/home/hhchoi1022/Desktop/Gitrepo/photometry/SAO_C361K_phot.fixascii"
}
