{
    "TARGET_MINALT": 30,
    "TARGET_MAXALT": 90,
    "TARGET_MAX_SUNALT": null,
    "TARGET_MOONSEP": 40,
    "TARGET_MAXAIRMASS": null,
    "TARGET_MERIDIAN_SEC": 600,
    "TARGET_MAXSLEW": 300,
    "TARGET_WEIGHT_RELATIVE_ALT": 0.5,
    "TARGET_WEIGHT_ABSOLUTE_ALT": 0,
    "TARGET_WEIGHT_PRIORITY": 1.0,
    "TARGET_WEIGHT_SLEW": 0
}