{
    "SCHEDULER_AUTOFOCUS": true,
    "SCHEDULER_AUTOFOCUS_AT_INIT": false,
    "SCHEDULER_AFTIME": 3,
    "SCHEDULER_CCDCOOL": true,
    "SCHEDULER_CCDTEMP": -10,
    "SCHEDULER_BIAS": false,
    "SCHEDULER_BIASCOUNT": 9,
    "SCHEDULER_DARK": false,
    "SCHEDULER_DARKEXPTIME": "60",
    "SCHEDULER_DARKCOUNT": 9,
    "SCHEDULER_FLAT_DUSK": false,
    "SCHEDULER_FLAT_DAWN": false,
    "SCHEDULER_FLATEXPTIME": "60",
    "SCHEDULER_FLATCOUNT": 9,
    "SCHEDULER_FLATFILTSET": "r",
    "SCHEDULER_DEFAULTFILT": "r",
    "SCHEDULER_DEFAULTEXP": "60",
    "SCHEDULER_DEFAULTCOUNT": "18",
    "SCHEDULER_DEFAULTBIN": "1",
    "SCHEDULER_DEFAULTPRIOR": 1
}